.processingContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .processingImg {
    display: flex;
    .imageShown {
      width: 40vw;
      border-radius: 40px;
      padding: 5vw;
    }
    .imgButtons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 4vw;
      .toolButton {
        box-sizing: border-box;

        cursor: pointer;
        font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
          NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
          EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
          "Helvetica Neue", "Noto Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
        width: auto;
      }
    }
  }

  .getResultButton {
    .getResult {
      border-radius: 8px;
      border-style: none;
      width: 80vw;

      cursor: pointer;

      font-family: "Inter UI", "SF Pro Display", -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 20px;
      font-weight: 500;
      height: 4rem;
      padding: 0 10vw;
      text-align: center;

      transition: all 0.5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
}
