.resultContainer {
  width:100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .imageShown {
    width: 50%;
    padding: 5vw 0;
  }
}

